<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.growcn.ce365"
    android:versionCode="11"
    android:versionName="0.0.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CE365.NoTitleBar" >
        <activity
            android:name="com.growcn.ce365.BootStrapActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.growcn.ce365.LessonActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.growcn.ce365.ParagraphActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.growcn.ce365.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.growcn.ce365.DownLoadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.growcn.ce365.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service android:name="com.growcn.ce365.service.PlayerService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54a2b624fd98c5c31c000dea" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />
        <!-- official -->
    </application>

    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!--  -->


    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>